<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login</title>
<link rel="stylesheet" type="text/css" href="css/login.css">
</head>

<form class="login-form" action="/login" method='POST'>
	<h1 class="login-element">Please login</h1>
	<div class="login-element">User:</div>
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	<input class="login-element" type='text' name="foo" value=''>
	<div class="login-element">Password:</div>
	<input class="login-element" type='password' name="bar" value=''>
	<a class="login-element" href="/sign_up">Don't have an account? Sign up here</a>
	<input class="login-element" name="submit" type="submit" value="submit">

</form>

</html>